<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <meta name ="viewport" 
              content="width=device-width, initial-scale=1.0">
        <title>MD Flower Shop</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
              
       


    </head>
    <body>
        
      
        

    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        
        <a href="#" class="logo">MD flower<span>.</span></a>
        <nav class="navbar">
        <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#products">products</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
         </nav>
        <div class="icons">
        <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>
        
        </div>
        
        
        
        </header>
    
    <section class="home" id="home">
        <div class="content">
        <h3>fresh flowers</h3>
            <span>natural & beautiful flowers</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum ut minus corrupti dolorum dolore assumenda iste voluptate dolorem pariatur.</p>
        <a href="#" class="btn">shop now</a>
        
        </div>
        
        
        
        </section>
        
    <section class="About" id="about">
        <h1 class="heading"><span> about</span> us</h1>
            <div class="row">
            <div class="video-container">
                <video src="{{ url_for('static', filename='images/video.mp4') }}" autoplay muted loop></video>
                <h3>best flower sellers</h3>
                </div>
            <div class="content">
                
                <h3>why choose us?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem cumque sit nemo pariatur corporis perspiciatis aspernatur a ullam repudiandae autem asperiores quibusdam omnis commodi alias repellat illum, unde optio temporibus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum ut minus corrupti dolorum dolore assumenda iste voluptate dolorem pariatur.</p>
                <a href="#" class="btn">learn more</a>
                </div>
            </div>
        
        
        
        
        
        </section>
        <section class="icons-container">
        <div class="icons">
            <img src="{{ url_for('static', filename='images/freed.png') }}" alt="Free delivery">

            <div class="info">
            <h3>free delivery</h3>
                <span>on all orders</span>
            
            </div>
            </div>
        <div class="icons">
            <img src="{{ url_for('static', filename='images/10.png') }}" alt="Free delivery">

            <div class="info">
            <h3>10 days returns</h3>
                <span>moneyback guarantee</span>
            
            </div>
            </div>
            <div class="icons">
            <img src="{{ url_for('static', filename='images/gift.png') }}" alt="Free delivery">

            <div class="info">
            <h3>offer & gifts</h3>
                <span>on all orders</span>
            
            </div>
            </div>
            <div class="icons">
            <img src="{{ url_for('static', filename='images/c.png') }}" alt="Free delivery">

            <div class="info">
            <h3>source paymens</h3>
                <span>protected by paypal</span>
            
            </div>
            </div>
        
        </section>
        <section class="products" id="products">
        
        <h1 class="heading"> latest<span> products</span></h1>
        
        <div class="box-container">
            <div class="box">
                <span class="discount"> -10%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/fl1.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"> add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                     
                </div>
            
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
                </div>
            </div>
            
            <div class="box">
                <span class="discount">-15%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/12.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"> add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                
            
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-5%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/2.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-20%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/3.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
                </div>
            </div>
            
            <div class="box">
                <span class="discount">-15%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/4.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                
                </div>
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-10%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/5.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-15%</span>
                <div class="image">
               <img src="{{ url_for('static', filename='images/6.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                
                </div>
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
                </div>
            </div>
            <div class="box">
                <span class="discount">-20%</span>
                <div class="image">
               <img src="{{ url_for('static', filename='images/7.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                
                </div>
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
            </div>
            </div>
            <div class="box">
                <span class="discount">-11%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/8.png') }}" alt="Free delivery">

                    
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                
                </div>
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
            </div>
            </div>
            <div class="box">
                <span class="discount">-9%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/9.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                
            
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span>$15.99</span></div>
            </div>
            </div>
            
            
            <div class="box">
                <span class="discount">-9%</span>
                <div class="image">
                <img src="{{ url_for('static', filename='images/11.png') }}" alt="Free delivery">

                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
            
                
            
            <div class="content">
            <h3>flower pot</h3>
                <div class="price"> $12.99<span> $15.99</span></div>
            
            </div>
            </div>
            
            
            
           
        </section>
           
        <section class="review" id="review">
        <h1 class="heading">customer's<span> review</span></h1>
        <div class="box-container">
            <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
                <div class="user">
                

                    <div class="user-info">
                      <h3>qq</h3> 
                        <span>Happy Customer</span>
                        
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>
            <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
                <div class="user">
                
                    <div class="user-info">
                      <h3>Doha Alomari</h3> 
                        <span>Happy Customer</span>
                        
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>
            <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
                <div class="user">
               
                    <div class="user-info">
                      <h3>sss</h3> 
                        <span>Happy Customer</span>
                        
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>
            <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
                <div class="user">
                
                    <div class="user-info">
                      <h3>Mmm</h3> 
                        <span>Happy Customer</span>
                        
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>
            </div>
        
        
        
        
        
        
        
        </section>
        <section class="contact" id="contact">
        <h1 class="heading"><span>contact</span> us</h1>
        <div class="row">
            <form action="">
            <input type="text" placeholder="name" class="box">
            <input type="email" placeholder="email" class="box">
                <input type="number" placeholder="number" class="box">
               <textarea name="" class="box" placeholder="message" id="" cols="30"  rows="10"></textarea>
                
                <input type="submit" value="send message" class="btn">
                
                
            </form>
            
            <div class="image" >
            <img src="{{ url_for('static', filename='images/dddd.png') }}" alt="Free delivery">

            </div>
            
            </div>
        </section>
         <section class="footer">
        <div class="box-container">
            <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">about</a>
                <a href="#">products</a>
                <a href="#">review</a>
                <a href="#">contact</a>
            
            
            
            </div> 
             <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my order</a>
                <a href="#">my favorite</a>
               
            
            
            
            </div> 
             
             <div class="box">
            <h3>location</h3>
            <a href="#">Texas</a>
            <a href="#">florida</a>
                <a href="#">new york</a>
                <a href="#">washington D.C</a>
                <a href="#">ohio</a>
            
            
            
            </div> 
              <div class="box">
            <h3>contact info</h3>
            <a href="#">(806)-577-8739</a>
            <a href="#">dohaalomari3@gmail.com</a>
                <a href="#">Chicago IL</a>
                
                <img src="{{ url_for('static', filename='images/cards.png') }}" alt="Free delivery">

            
            
            
            </div> 
             
             
             
             </div>
        
        <div class="credit"> created by<span> Doha Alomari JO</span>
             |all rights reserved
             
             </div>
        
        
        
        
        
        
        
        </section>
        
        
        
        
        
        
        
        
        
    </body>
</html>

